<h2>Register Account</h2>

<a href="/">Go Back</a><br><br>

<form id="registerform">

  Username:
  <input type="text" name="username" placeholder="Username" ng-model="controller.user.username" /><br><br>

  Email:
  <input type="text" name="email" placeholder="Username" ng-model="controller.user.email" /><br><br>

  Password:
  <input type="password" name="password" placeholder="Password" ng-model="controller.user.password" /><br><br>

  <input type="submit" name="login" value="Register" ng-click="controller.signUp()" />

</form>
